/*---------general styles start---------*/
body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  text-decoration: none;
  color: #000; }

/*---------general styles end---------*/
/*---------header styles start---------*/
#header {
  background-color: #616161; }

#header-top-bar {
  color: #fff;
  text-align: center;
  padding: 5px 0 0 0; }

#header-top-bar p, h2, h3, li {
  display: inline;
  text-align: center;
  line-height: 100%; }

#header-top-bar ul > li {
  padding-right: 25px;
  font-size: 1.3em; }

#header-top-bar ul {
  padding-left: 0px; }

span {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em; }

button a {
  color: #616161; }

button {
  border-radius: 7px;
  text-transform: uppercase;
  padding: 4px 7px;
  font-weight: bold;
  background-color: #fff; }

/*---------general styles end---------*/
/*---------navbar syles start---------*/
/*---------navbar syles end---------*/
